<ion-header>
  <ion-toolbar color="secondary">
    
    <ion-buttons>
      <ion-back-button defaultHref="/"></ion-back-button>
      <ion-title color="primary" >Insertar Coche </ion-title>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="6">
        <ion-img class="photo-frame" *ngIf="capturedPhoto" [src]="capturedPhoto" (click)="takePhoto()"></ion-img>
        <ion-img class="photo-frame" *ngIf="!capturedPhoto" src="../../assets/No-Image-Placeholder.svg"
          (click)="takePhoto()"></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-button color="primary" fill="outline" (click)="takePhoto()" color="secondary">
          <ion-icon slot="start" name="camera-outline"></ion-icon>
          Sacar Foto
        </ion-button>
        <ion-button color="primary" fill="outline" (click)="pickImage()" color="secondary">
          <ion-icon slot="start" name="image-outline"></ion-icon>
          Coger Imagen
        </ion-button>
        <ion-button color="danger" fill="outline" (click)="discardImage()">
          <ion-icon slot="start" name="aperture"></ion-icon>
          Borrar Imagen
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <form [formGroup]="cocheForm" (ngSubmit)="submitForm()" novalidate>
    <ion-item lines="full">
      <ion-label position="floating">Marca</ion-label>
      <ion-input formControlName="marca" type="text" required></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.marca.errors?.required">Marca es necesaria.</span>
    <ion-item lines="full">
      <ion-label position="floating">Modelo</ion-label>
      <ion-input formControlName="modelo" type="text" required></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.modelo.errors?.required">Modelo es necesario.</span>
    <ion-item lines="full">
      <ion-label position="floating">Precio en €</ion-label>
      <ion-input formControlName="precio" type="number" required></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.precio.errors?.required" >Precio es necesario.</span>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="secondary" expand="block">Insertar</ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>
