<ion-header>
  <ion-toolbar color="secondary">
    
    <ion-buttons >
      <ion-back-button defaultHref="/"></ion-back-button>
      <ion-title color="primary">Listado de Coches </ion-title>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-searchbar placeholder="Buscar por marca" (ionChange)="buscar($event)"></ion-searchbar>
</ion-toolbar>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content ></ion-refresher-content>
  </ion-refresher>
  
  <ion-list>
    <ion-item *ngFor="let c of coches">
      <ion-label>
        <ion-card color="secondary">
          <ion-card-header>

            <img *ngIf="c.filename" src="http://localhost:8080/images/{{c.filename}}" alt="image"/>
            
            <ion-card-title> <ion-text class="marca">Marca:</ion-text> {{c.marca}}</ion-card-title>
            <ion-card-subtitle><ion-text class="modelo">Modelo:</ion-text> {{c.modelo}}</ion-card-subtitle>
            <p><ion-text class="precio">Precio:</ion-text> {{c.precio}}€</p>

          </ion-card-header>
          <ion-card-content>

            <ion-button color="light" [routerLink]="['/coches-update', c]"><ion-icon name="create" style="zoom:1.5"></ion-icon></ion-button>

            <ion-button color="danger" clear (click)="removeCoche(c)" > 
              <ion-icon name="trash" style="zoom:1.5"></ion-icon>
              </ion-button>
          </ion-card-content>
        </ion-card> 
    </ion-label>    
    </ion-item>
  </ion-list>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/coches-create']" color="tertiary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

